body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}
#myH1{
     font-size: 4rem;
     font-family: "Arial", sans-serif;
     color: hwb(0 25% 75%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
     font-size: 4rem;
     font-family: monospace;
     font-weight: bold;
     color: hsl(0, 0%, 7%);
     text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
     margin-bottom: 25px;
}
#controls button{
         font-size: 1.5rem;
         font-weight: bold;
         padding: 10px 20px;
         margin: 5px;
         min-width: 125px;
         border: none;
         border-radius: 10px;
         cursor: pointer;
         color: white;
         transition: background-color 0.5s ease;
}
#startbtn{
     background-color: hsl(115, 100%, 40%);
}
#startbtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#stopbtn{
    background-color: hsl(10, 90%, 50%);
}
#stopbtn:hover{
   background-color: hsl(10, 90%, 40%);
}
#resetbtn{
    background-color: hsl(205, 90%, 60%);
}
#resetbtn:hover{
   background-color: hsl(205, 90%, 50%);
}